@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    
    background-color: #FFD2C7;
    display: flex;
    justify-content: space-between;
    align-items:center;   
}

.nav_home  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav_home > a{
    color: white;
    margin: 25px;
    font-size: 25px;
    text-decoration: none;
}

.nav_home > a:hover{    
    color: #F06A8A;
}


header > img {
    height: 120px;
    width: auto;
    margin-right: auto;
    
}

.sessao01{
    min-height: 85vh;
    background-color: #FFD2C7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.sessao01 h1{
    color: #F06A8A;
    font-size: 55px;
}

.sessao01 h2{
    color: white;
    font-size: 40px;
}

.sessao01 h3 {
    color: white;
    font-size: 30px;
    
    
}

.sessao01 span{
    color: #F06A8A;
}

.nav_sessao01{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.nav_sessao01 > a{
    margin-top: 10px;
    margin-right: 30px
}

.nav_sessao01 > a:hover{
    background-color: #F06A8A;
    border-radius: 20px;
}


.foto_tay{
    height: 400px; 
    width: auto; 
    border-radius: 50%; 
    box-shadow: 5px 5px 5px 5px #f06a8938;
    padding: 5px;
    margin-right: 40px;
    
}

.foto02{
    height: 400px;
    width: auto;
    border-radius: 50%;
    padding: 10px;
    margin-left: 40px;
}

.sessao02{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao02 p  {
    font-size: 20px;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    width: 500px;
    background-color: #8fbcdf75;
    border-radius: 10%;
}

































    
    


