@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #026773;
    height: 150px;
    width: 100%;
    position: fixed;
    
}

.git{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}

.git:hover{
    background-color: black;
    border: none;
    border-radius: 15px;
    
}

.linkedin{
    position: absolute;
    bottom: 0px;
    right: 90px;
    margin: 10px;
 
}

.linkedin:hover{
    background-color: black;
    border: none;
    border-radius: 10px;
}
main > .minha_foto{
    height: 300px;
    width: 300px;
    margin: 100px;
    padding: 100px;
    border-radius: 50%;
    
}








    
    


