@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    
    background-color: #FFD2C7;
    display: flex;
    justify-content: space-between;
    align-items:center;   
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav > a {
    color: white;
    margin: 25px;
    font-size: 25px;
    text-decoration: none;
    
}
header > img {
    height: 120px;
    width: auto;
    margin-right: auto;
    
}

.sessao01{
    padding: 19px;
    background-color: #FFD2C7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.sessao01 h1{
    color: #F06A8A;
    font-size: 55px;
}

.sessao01 h2{
    color: white;
    font-size: 40px;
}

.sessao01 h3 {
    color: white;
    font-size: 30px;
    
    
}

.sessao01 span{
    color: #F06A8A;
}

.sessao01 a {
    padding: 20px;
}

.foto_tay {
    height: 400px; /* Altura da imagem */
    width: auto; /* Largura automática */
    border-radius: 50%; 
    box-shadow: 5px 5px 5px 5px #f06a8938;
    padding: 20px;
    
}


























    
    


